<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.TileRummy" android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".LampLight.StartingRoom" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LampLight.GameRoom" android:screenOrientation="unspecified" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:name="com.TileRummy.Service.MultiRunner"/>
        <activity android:name="RummyGame" android:screenOrientation="unspecified" android:theme="@android:style/Theme.NoTitleBar" >            </activity>
        <service android:name=".LampLight.LampService"/>
    </application>
</manifest>
